$FONT: #c4c4d4;

.movie {
  position: relative;
  box-sizing: border-box;
  display: flex;
  margin-bottom: 10px;
  color: $FONT;
  border: 1px solid #7d7d8e;
  border-radius: 20px;

  img {
    max-width: 102px;
    height: 150px;
    margin: 10px;
    border-radius: 20px;
  }

  .movieInfo {
    align-items: center;
    width: 180px;
    margin: auto;
    color: $FONT;
    text-align: center;

    input {
      width: 20px;
      height: 20px;
      background: white;
    }
  }
}
