$BACROUND: #525360;
$APPBAROUND: #191a2c;

.app {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: $BACROUND;
}

.appWrapper {
  width: 330px;
  height: 600px;
  margin: 50px;
  background: $APPBAROUND;
  border-radius: 30px;
}
